<div class="search-bar">
  <table cellspacing="0" cellpadding="0" border="0" style="border-bottom: 1px solid rgb(231, 231, 231); padding: 8px 0pt 0pt;">
    <tbody>
      <tr>
        <td width="100%" class="lst-td">
          <span id="tophf" style="visibility: visible;"><input type="hidden" value="en" name="hl"></span>
          <input type="text" title="Search" value="" maxlength="2048" name="q" class="lst" autocomplete="off">
          <span style="display: none;" id="tsf-oq">javascript</span> 
        </td>
        <td>
          <div class="ds">
            <div class="lsbb"><input type="submit" value="Search" class="lsb" name="btnG"></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
