<style type="text/css" media="screen">
  .form-field{margin-bottom: 5px;}
</style>

<form action="/add" method="post" accept-charset="utf-8">
  <div class="form-field">
    <label for="site_name">Site Name</label>
    <input type="text" name="site_name" value="" id="site_name">    
</div>
<div class="form-field">
    <label for="description">Description</label>
    <input type="text" name="description" value="" id="description">  
<div class="form-field">
  <label for="address">address</label>
  <input type="text" name="address" value="" id="address">
<div class="form-field">
  <label for="city">city</label>
  <input type="text" name="city" value="" id="city">
</div>
<div class="form-field">  
  <label for="state">state</label>
  <input type="text" name="state" value="" id="state">
</div>
<div class="form-field">
  <label for="zip">zip</label>
  <input type="text" name="zip" value="" id="zip">
</div>

<div class="form-field">
  <label for="primary_service">Primary Service</label>
  <input type="text" name="primary_service" value="" id="primary_service">
</div>
<div class="form-field">
  <label for="secondary_service">Secondary Service</label>
  <input type="text" name="secondary_service" value="" id="secondary_service">
</div>
<div class="form-field">
  <label for="phone">Phone</label>
  <input type="text" name="phone" value="" id="phone">
</div>
<div class="form-field">
  <label for="website">Website</label>
  <input type="text" name="website" value="" id="website">
</div>
<div class="form-field">
  <label for="transportation">Transportation</label>
  <input type="text" name="transportation" value="" id="transportation">
</div>
<div class="form-field">
  <label for="restrictions">Restrictions</label>
  <input type="text" name="restrictions" value="" id="restrictions">
</div>
<div class="form-field">
  <label for="quadrant">Quadrant</label>
  <input type="text" name="quadrant" value="" id="quadrant">
</div>
<div>
  

  <p><input type="submit" value="Continue &rarr;"></p>
</form>





