<script type="text/javascript">
  function initialize() {
    var latlng = new google.maps.LatLng(38.876067,-77.036133);
    var myOptions = {
      zoom: 12,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map"), myOptions);
  }
  $(document).ready(initialize);
</script>


  <div id="map" class="map" style=""></div>        
