<div id="contentMain" class="full">
	<div class="hr"><hr /></div>
	<div style="padding: 10px;">
    <h2> Your service has been submitted for review!</h2>
    <div style="font-size: 14px; padding: 10px"> <%= link_to "Return Home", url(:base, :index) %></div>	 
	</div>
</div>