<div id="contentMain" class="full">
	<div class="hr"><hr /></div>
  <div class="flash">
    <%#= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join %>
  </div>

<div class="block">
  <div class="content">
    <h2 class="title">Suggest a Service</h2>
    <div class="inner">
      <% form_for :service, url(:services, :create), :class => :form, :"accept-charset" => "UTF-8" do |f| %>
        <%= partial "services/form", :locals => { :f => f } %>
      <% end %>
    </div>
  </div>
</div>

</div>
