<div id="contentMain" class="full">
	<div class="hr"><hr /></div>

<ul>
    <% Service.site_name.each do |name| %>
		    <li>
            <%=  name.capitalize %>
        </li>
    <% end %>
</ul>
</div>