<div id="contentMain" class="full">
	<div class="hr"><hr /></div>

<ul>
    <% service_types.each do |type| %>
      <li>
        <%= link_to type, "/list_type?type=#{type}" %>
      </li>
    <% end %>
</ul>
</div>