<div class="block" id="block-text">
  <div class="content">
    <h2 class="title">The BRIDGE Project: Services Dashboard</h2>
    <div class="inner">
      <p class="first">
        Users will use this admin side of the site to add and maintain the data on the services being displayed
      </p>
      <hr />
      <p> <span class="gray">Let us know of any bugs! <a href="mailto:vandyke.colin@gmail.com, joshua.montross@gmail.com">Email Us!</a></span></p>

    </div>
  </div>
</div>
<% content_for :sidebar, partial("base/sidebar") %>