<div class="serch-form">
  <div class="search-bar">
  <input style="background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); color: rgb(0, 0, 0); font: 18px arial,sans-serif bold; height: 25px; margin: 0pt; padding: 5px 8px 0pt 6px; vertical-align: top; width: 400px;" size="57" value="" title="Search" class="lst" name="q" maxlength="350"  autocomplete="off">  
  </div>
  <div class="search-button">
    <span class="ds"><span class="lsbb"><input type="submit" class="lsb" value="Search Services" name="btnG" style="vertical-align: middle;"></span></span>  
  </div>
  
</div>
