<!-- <div class="search-bar">
    <table cellspacing="0" cellpadding="0" border="0" style="border-bottom: 1px solid rgb(231, 231, 231); padding: 8px 0pt 0pt;">
      <tbody>
        <tr>
          <td width="100%" class="lst-td">
            <span id="tophf" style="visibility: visible;">
            <input type="text" title="Search" value="" maxlength="2048" name="q" class="lst" autocomplete="off">
            <span style="display: none;" id="tsf-oq">javascript</span> 
          </td>
          <td>
            <div class="ds">
              <div class="lsbb"><input type="submit" value="Search" class="lsb" name="btnG"></div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div> -->
<div class="serch-form">
  <div class="search-bar">
  <input style="background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(153, 153, 153) rgb(153, 153, 153) rgb(204, 204, 204); color: rgb(0, 0, 0); font: 18px arial,sans-serif bold; height: 25px; margin: 0pt; padding: 5px 8px 0pt 6px; vertical-align: top; width: 400px;" size="57" value="" title="Search" class="lst" name="q" maxlength="2048"  autocomplete="off">  
  </div>
  <div class="search-button">
    <span class="ds"><span class="lsbb"><input type="submit" class="lsb" value="Search Services" name="btnG" style="vertical-align: middle;"></span></span>  
  </div>
  
</div>
