<div class='clear'></div>
<div id="contentNav">

<div class="hr"><hr></div>							

<!-- START: ModuleCM33-1 -->
<div class="moduleCM33-1">
	<h2>Sidebar Title</h2>
	<div class="hr small"><hr></div>
	<div class="linkList">
		<ul>
			<li>
			  <%= link_to "Show Services by Type", url(:services, :service_types) %>
			</li>
			<li class="last">
			  <%= link_to "Suggest a Service", url(:services, :new) %>
			</li>
		</ul>						
	</div>
</div>
<!-- /END: ModuleCM33-1 -->

</div>