<div class='clear'></div>
<div id="contentNav">

<div class="hr"><hr></div>							

<!-- START: ModuleCM33-1 -->
<div class="moduleCM33-1">
	<h2>Sidebar Title</h2>
	<div class="hr small"><hr></div>
	<div class="linkList">
		<ul>
			<li><a href="/type">Show Services by type</a></li>
			<li><a href="#">Request Information</a></li>
			<li><a href="#">Do Something</a></li>
			<li class="last"><a href="#">Do Something Else</a></li>
		</ul>						
	</div>
</div>
<!-- /END: ModuleCM33-1 -->

</div>