<div id="contentMain" class="limited">
	<div class="hr"><hr /></div>
    <div id="index-body" class="middle">
      <h1>BRIDGE: Bridging Resources In DC to Guide and Educate</h1>
      <div id="moduleCM22">
        <h3>Our Vision:</h3>
        <p>
          By synthesizing and streamlining the wealth of resources available to the DC community, 
          BRIDGE strives to educate and empower society for the future, fulfilling a long-standing 
          gap between knowledge and access to important social service agencies and providers in our 
          Nation’s Capital.
        </p>
        <p>
          Utilizing the Human Services 152 class at The George Washington University, BRIDGE seeks 
          to provide an up-to-date and comprehensive guide to social services and public resources 
          in the District of Columbia.
        </p>
      </div>
    </div>
</div>
    <% content_for :sidebar, partial("base/sidebar") %>