	<div class="clear"></div>
    <div class="article">
      <h1>BRIDGE: Bridging Resources In DC to Guide and Educate</h1>
      <div id="article">
        <h3>Our Vision:</h3>
        <p>
          By synthesizing and streamlining the wealth of resources available to the DC community, 
          BRIDGE strives to educate and empower society for the future, fulfilling a long-standing 
          gap between knowledge and access to important social service agencies and providers in our 
          Nation’s Capital.
        </p>
        <p>
          Utilizing the Human Services 152 class at The George Washington University, BRIDGE seeks 
          to provide an up-to-date and comprehensive guide to social services and public resources 
          in the District of Columbia.
        </p>
        <p>
        
          <blockquote>
            "After 9/11 we were told that if we had only connected the dots, 
             we might have stopped the attacks. If we had assembled the fragments 
             of information we had, we would have put together a picture. The 
             same is true in understanding poverty. We have to connect the dots 
             among the disparate problems faced by struggling families, problems 
             that may not seem related, yet inter-act and reinforce and magnify 
             one another. <br /><br />

             So the concept of BRIDGE, to map the social services available in 
             the Washington area, may give both providers and individuals a 
             way of connecting the dots, of navigating among the varied 
             agencies to address disparate problems. It can provide a gateway 
             into the multiple forms of assistance that many families need."
          </blockquote>

          <p class="attribution">
          <strong>-David Shipler </strong><br />
          <strong>Pulitzer Prize Winning Author of The Working Poor </strong>
          </p>

        </p>
      </div>
    </div>
