<div class="clear"></div>
<div class="article">
  <h2>American University- Localizing Peace Initiative</h2>

<p>
<img class="key-image" src="/images/bird.jpg"></img>
The BRIDGE Project and Localizing Peace have been collaborating since May of 2011 to showcase resources to address the question of local peace in the DC area.  Localizing Peace has contributed resources from their directory to the BRIDGE Project website, and continues to work actively to advance the discussion of local peace.
</p>

<p>
More information about the initiative can be found on their website: <br />
  <a target="_blank" href="http://www.american.edu/sis/ipcr/LocalizingPeace/Directory.cfm">
  http://www.american.edu/sis/ipcr/LocalizingPeace/Directory.cfm
  </a>
</p>

<strong><a target="_blank" href="http://www.american.edu/sis/ipcr/LocalizingPeace/upload/Alphabatized-Directory-8-31-11.pdf">Download The Localizing Peace Directory</a></strong>

<p>
The Localizing Peace Initiative was created to address the question of <em>local 
  peace</em> in the Washington, DC region, by highlighting a wide range of vibrant, 
but seldom celebrated activities, and by creating a platform for dialogue 
about ways in which peace practices and ideas can become more effectively 
<em>localized</em>, in Washington and beyond. To advance discussion of 
our local peace processes and invite dialogue about the larger 
idea of “localizing peace,” we have assembled a website as a set of 
resources for American University and the Washington, DC community.
</p>

<p>
  The Localizing Peace Initiative looks to:
  <ol>
    <li>Build connections between American University and the Washington, DC community. </li>
    <li>Promote the awareness of systemic conflict in the Washington, DC area and the ongoing peace work being done in by organizations in our directory.</li>
    <li>Collaborate and complement the existing work of community organizations in the DC	area through advocacy, promoting positive coalitions, and building networking	opportunities.  </li>
  </ol>
</p>

<p>
We envision an ongoing initiative undertaken in collaboration with partners throughout the community, through which we recognize diverse local efforts, make our local peace resources available to one another, and discover new opportunities for learning together through dialogue and action.
</p>
</div>
