<div class="clear"></div>
<div class="article">
<h2> The George Washington University- Human Services Program</h2>

<p>
<img class="key-image" src="/images/HMSR152.jpg"></img>
<strong>The BRIDGE Project (BRIDGE) was born in 2009 as the group project of 
  the Human Services 152: Issues in Human Services course of The George 
  Washington University’s Human Services Program.</strong>
Under the direction of now,  Professor Emeritus, Honey Nashman, and 
Graduate Teaching Assistants, Natalie Kaplan and Lee Goldstein, 
BRIDGE worked with the 
<a href="http://www.dcfoodfinder.org/about.html" target="_blank"> Healthy and Affordable Food For ALL coalition’s </a>
<a href="http://www.dcfoodfinder.org/" target="_blank">DC Food Finder</a>, 
<a href="http://www.breadforthecity.org/" target="_blank">Bread for the City’s</a> referral database, and other 
community resources to bring together the The BRIDGE Project Resource Guidebook.  
The 64-page print guidebook was published in November of 2009, and 2,000 
copies have since been distributed throughout the DC metro community.  
</p>

<p>
Access the print publication here: 
<a target="_blank" href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B9Sy20wK9u4iNWNjYmY5ZmUtMTJhZC00MGVjLTkyOGMtNGViMzFhYjIyYzdk&hl=en_US">The BRIDGE Project Resource Guidebook (Published, November 2009)</a>
</p>

<p>
Today, Professor Emily Morrison, Director of the Human Services Program, 
guides the students of the HMSR 152 class through in depth community-based 
research projects to explore the depths of social service provision in the 
Washington, DC community.  Through this 6-credit service-learning course, the 
students continue to update and contribute to The BRIDGE Project website 
through their research and direct work with community-based organizations 
and nonprofits.
</p>
</div>
