
<div class="clear"></div>
<div class="mission">
  <p>The BRIDGE Project seeks to provide an up-to-date and comprehensive guide to social services and public resources in the District of Columbia. </p>

<div class="categories">
  <%= link_to "Search for Services", url(:base, :advanced_search), :class=> 'services category' %>
  <%= link_to "Volunteer Opportunities", url(:volunteer_opportunities, :index), :class=> 'volunteer category' %>
  <%= link_to "Research Opportunities", url(:research_opportunities, :index), :class=> 'research category' %>
</div>

</div>
<div id="tweets">
  <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script>
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 4,
    interval: 30000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#4283b1',
        color: '#ffffff'
      },
      tweets: {
        background: '#ffffff',
        color: '#000000',
        links: '#4283b1'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      behavior: 'all'
    }
  }).render().setUser('bridgeprojectdc').start();
  </script>
</div>


<form id="focus" action="#" class="left">
   <div>
     Type your address in the box below to search for services near you!<br/><br />
     <input id="address" type="text" size="60" name="address" value="" placeholder="Zoom to address"  style="margin-bottom: 4px;"/>
     <input type="submit" value="Go!" />
   </div>
 </form>

<div id="map_all_of_the_things" style="width: 100%; height: 400px;"></div>

<%= javascript_include_tag "index.js" %>
