<div class="clear"></div>
<div class="article">
<h2>University of Maryand- Jes Koepfler, PhD Candidate, iSchool</h2>

<p>
<img class="key-image" src="/images/umd_logo.jpg" height="150"></img>
Jes Koepfler is a PhD student at the University of Maryland’s iSchool in College Park and has been working with BRIDGE since October of 2010.  Her research interests include online communities and networks; human-computer/information interaction; and information design, access, and diffusion among marginalized populations. She also runs an independent consulting company dedicated to research and evaluation in nonprofits. You can learn more about her work here: www.uxrconsulting.com/about/jes
</p>

<p>
Jes continues to act as a key player in The BRIDGE Project’s online presence, research and grant endeavors. Focusing on the integration of social media with social service outreach, provision, and empowerment, Jes and BRIDGE look toward an exciting future of Twitter integration and bringing voice to unheard populations! 
</p>
<p>
Be sure to check out Jes and BRIDGE’s big event at 
<strong>Digital Capital Week: November 11th, 2011! 10:00am-1:00pm at Artisphere in Arlington, VA.</strong>
</p>

<p>
<strong>More details HERE: <a href="http://digitalcapitalweek.org/projects/hashpop-programming-and-design-challenge/" target="_blank">HashPOP! Programming and Design Challenge</a> </strong>
</p>


<p>
</p>
</div>

