<div class="clear"></div>

<div class="article">
  <h3>Want to become a partner?</h3>

  <p>
    We are always excited to add beams to the BRIDGE! 
  </p>

  <p>
    Whether you are a university or school, community organization, or individual---BRIDGE is about: 
    providing information and access to important social services for those in need
    Connecting volunteers and those with skills to organizations who need support
    Providing a forum for discussion, research, exploration, and empowerment.
    bringing people together and building community
  </p>



  <p>
    Email Natalie Kaplan, Director of The BRIDGE Project, at 
    <%= mail_to "bridgeprojectdc@gmail.com", "bridgeprojectdc@gmail.com" %>
  </p>
</div>
