<div class="search-results">
  <ul id="search-result">
    <%= partial "base/site", :collection => result %>  
  </ul>

  <div id="map" data-lat="38.876067" data-lng="-77.036133" data-method="map" >

  </div>  
</div>
