#contentMain ul#search-result li.site{
  list-style: none;
  padding: 5px 10px;
}
#contentMain ul#search-result {
  float:left;
  height:450px;
  margin: 0 0 1em 0;
  padding: 0;
  overflow:auto;
  width:300px; 
  background-color: #FFF;  
}

#contentMain ul#search-result li:hover {
  background-color: #EDE2CD;
}

.search-results #map{
  width: 630px;
  height: 450px;
  float: left;
}

.left{
  float: left;
}
.right{
  float: right;
}

.clear{
  clear: both;
}

.result{
  padding-left: 5px;
  width: 90%;
}

.info-window{
  font-size: 12px;
  overflow: hidden;
}

.search{
  margin-top: 16px;
}

#header-title h2{
  font-size: 30px;
  font-family: Georgia;
}
.empty-result{
  text-align: center;
}
.paginate{
  text-align: center;
  margin: 5px 0;
  font-size: 13px;
}
#search-result .paginate{
  font-size: 15px;
}

.page-status{
  font-size: 12px;
}
.admin-search{
  margin: 19px;
}
img.marker{
  cursor: pointer;
}


.content div.paginate{
	background: none repeat scroll 0 0 #36393D;
}

.content div.paginate ul.page-list{
	list-style: none;
	display: block;		
}

.content div.paginate ul.page-list li.page{
	float: left;
/*  padding: 4px;*/
	color: #FFFFFF;
	display: block;	
}
.content div.paginate ul.page-list li.page a:link, div.paginate ul.page-list li.page a:visited, div.paginate ul.page-list li.page a:hover, div.paginate ul.page-list li.page a:active{
	color: #FFFFFF;
	text-decoration: none;
}

div.paginate ul.page-list li.page a, div.paginate ul.page-list li.page span.current{
	padding: 6px;
	display: block;
}

div.paginate ul.page-list li.page.active{
  background: #1A1A1A;
}

.form .group {
	margin-bottom:15px;
	font-size: 12px;
}

.form input.text_field, .form input.password_field, .form textarea.text_area {
	border:1px solid #CFCFCF;
	width:100%;
}

form label {
  font-weight:bold;
  padding-bottom:2px;
}

.inner {
padding:0 15px 15px;
}
div.paginate ul.page-list li.page a:hover{
  background: #666666;
}



/* flash-messages */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align:center;
  margin: 0 auto 15px;

}

.flash .message p {
  margin:8px;
}
.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd;
}
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc;
}
.flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6;
}
.message.notice{
  font-size: 14px;
}

.form .error{color:red;}

.message.notice,.message.warning,.message.error{padding:10px;}

.result-summary {
font-size:12px;
font-weight:bold;
padding:4px;
}


div.inner table tr th.last{
  width: 85px;
}
.error-page{
  padding: 10px;
}
.error-page div.error{
  font-size: 14px;
  padding: 10px;
}

.service-search {
  padding-top: 2px;
  float: left;
  padding-left: 15px;
}

.service-search label{
  display: block;
  cursor: pointer;
}

.button_to input{
  background:none;
  border:none;
  display:inline;
  font-size:inherit;
  color:inherit;
  cursor:pointer;
}

.linkList .last{
  padding-bottom: 4px;
  padding-top: 2px;
}

.sub-title{
  font-size: 14px; 
  font-weight: bold; 
  padding-top: 4px;
}