#contentMain ul#search-result li.site{
  list-style: none;
  padding: 5px 10px;
}
#contentMain ul#search-result {
  float:left;
  height:450px;
  margin: 0 0 1em 0;
  padding: 0;
  overflow:auto;
  width:300px; 
  background-color: #FFF;  
}

#contentMain ul#search-result li:hover {
  background-color: #EDE2CD;
}

.search-results #map{
  width: 630px;
  height: 450px;
  float: left;
}

.left{
  float: left;
}
.clear{
  clear: both;
}

.result{
  padding-left: 5px;
  width: 90%;
}

.info-window{
  font-size: 12px;
  overflow: hidden;
}

.search{
  margin-top: 20px;
}

#header-title h2{
  font-size: 30px;
  font-family: Georgia;
}
.empty-result{
  text-align: center;
}
.paginate{
  text-align: center;
  margin: 5px 0;
  font-size: 15px;
}