<div class="right">
  <% if session[:cart] %>
    <!-- <a class="show" onclick="window.open('')">Print list</a> -->
    <button class="show-list-view" href="/carts/show">Print List</button>
  <% end %>
</div>