<div class="show-list-holder right">
  <% if empty_cart? %>
    <button class="show-list-view hide" data-action="/carts/show">Print List</button>
  <% else %>
    <button class="show-list-view" data-action="/carts/show">Print List</button>
  <% end %>
</div>
