<div id="contentMain" class="full">
	<div class="hr"><hr /></div>
	<div class="error-page">
    <h2> Page Not Found</h2>
    <div class="error"> <%= link_to "Return Home", url(:base, :index) %></div>	 
	</div>
</div>