<div id="contentMain" class="full">
  <div class="hr"><hr /></div>
  <div class="error-page">
    <% if @message.nil? %>
      <h2> Page Not Found</h2>
    <% else %>
      <h2><%= @message %></h2>
    <% end %>
    <div class="error"> <%= link_to "Return Home", url(:base, :index) %></div>   
  </div>
</div>
